<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Modules">
      <directory suffix="Test.php">./modules/*/Tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="APP_ENV" value="testing"/>
    <server name="APP_KEY" value="base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="/>
    <server name="BCRYPT_ROUNDS" value="4"/>
    <server name="CACHE_DRIVER" value="array"/>
    <server name="DB_CONNECTION" value="sqlite"/>
    <server name="DB_DATABASE" value=":memory:"/>
    <server name="MAIL_MAILER" value="array"/>
    <server name="QUEUE_CONNECTION" value="sync"/>
    <server name="SESSION_DRIVER" value="array"/>
    <server name="TELESCOPE_ENABLED" value="false"/>
    <server name="MESSAGING_SMS_DRIVER" value="log"/>
    <server name="MESSAGING_WHATSAPP_DRIVER" value="log"/>
    <server name="MODULE_VOLUNTEER" value="true"/>
    <server name="MODULE_EMAIL_CHANGE" value="true"/>
    <server name="MODULE_ANNOUNCEMENTS" value="true"/>
    <server name="MODULE_SEMINAR" value="true"/>
    <server name="MODULE_LKD_YOUNG" value="true"/>
    <server name="MODULE_REPRESENTATION" value="true"/>
    <server name="MODULE_ID_CARD" value="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
      <directory suffix=".php">./modules</directory>
    </include>
  </source>
</phpunit>
