// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "innoq-bootstrap-theme/src/styles/innoq-bootstrap-theme.scss";

@import "~jquery-datetimepicker/jquery.datetimepicker.css";


.password-strength-status {
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 5px;
}

.medium-password {
    background-color: #b7d60a;
    border: #BBB418 1px solid;
}

.weak-password {
    background-color: #ce1d14;
    border: #AA4502 1px solid;
}

.strong-password {
    background-color: #12CC1A;
    border: #0FA015 1px solid;
}

.notmatch-password {
    background-color: rgb(255, 0, 0);
    border: rgb(207, 16, 16) 1px solid;
}
